/* Admin Add Items CSS */
.btn {
    width: 80px;
}

.buttons {
    /* width: 162px; */
    justify-content: flex-end;

}

main {
    margin-top: 65px;
}

.input {
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
}

.input input {
    margin: 5px 0px;
    background-color: #ffd3e6;
    border-radius: 0px;
    border: none;
    outline: none;
    width: 70%;
}

.input input:focus {
    outline: 2px solid rgb(255, 134, 154);
}

.main-heading {
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Inter";
    color: #e21b70;
}

.sub-heading {
    font-size: 30px;
    color: #333333;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.welcome-heading {
    font-size: 20px;
    color: white;
    font-weight: 600;
    /* text-transform: uppercase; */
}

.navbar-upper {
    height: 30px;
}

.custom-file-input {
    height: 28px !important;
    border: none !important;
    outline: none !important;
    background-color: white !important;
    padding: 0px !important;
}

.custom-file-input::file-selector-button {
    content: "Select Image";
    background-color: #e21b70;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-file-input::file-selector-button:hover {
    background-color: #be165f;
}

.find-food {
    width: 70%;
    margin: 5px 0px;
    border-radius: 0px;
}

.find-food:hover {
    transform: none;
}

.section-a {
    align-items: flex-start;
}

.left {
    margin-top: 60px;
}


@media (max-width: 768px) {
    .post {
        width: calc(50% - 20px); /* Adjust width for tablets */
    }
    .main-heading{
        font-size: 25px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .post {
        width: 100%; /* Full width for small screens */
    }
}
@media (max-width: 380px) {
    .welcome-heading{
        font-size: 18px;
    }
}